@import 'normalize';
@import 'colors';
@import 'media';


// Spacing
$spacing-sm-1: 4px;
$spacing-sm-2: 8px;
$spacing-sm-3: 12px;
$spacing-sm-4: 16px;
$spacing-md-1: 24px;
$spacing-md-2: 32px;
$spacing-md-3: 48px;
$spacing-md-4: 64px;
$spacing-lg-1: 96px;
$spacing-lg-2: 128px;
$spacing-lg-3: 192px;
$spacing-lg-4: 256px;
$spacing-xl-1: 384px;
$spacing-xl-2: 512px;
$spacing-xl-3: 640px;
$spacing-xl-4: 768px;

// Font sizes
$font-sm-1: 12px;
$font-sm-2: 14px;
$font-sm-3: 16px;
$font-md-1: 18px;
$font-md-2: 20px;
$font-md-3: 24px;
$font-lg-1: 30px;
$font-lg-2: 36px;
$font-lg-3: 48px;
$font-xl-1: 60px;
$font-xl-2: 72px;

$line-height-sm: 1.2;
$line-height-md: 1.5;
$line-height-lg: 2.0;

$line-width-sm: 20em;
$line-width-md: 30em;
$line-width-lg: 40em; 
$line-width-xl: 50em;

$phone: "<=phone";
$tablet: (">phone", "<=tablet");
$desktop: (">tablet", "<=desktop");
$widescreen: ">desktop";

// Fonts
$font-stack: -apple-system,
Segoe UI,
Roboto,
Noto Sans,
Ubuntu,
Cantarell,
Helvetica Neue;


