@import 'normalize';
@import 'colors';
@import 'borders';
@import 'breakpoints';
@import 'effects';
@import 'spacing';
@import 'transforms';
@import 'transitions';
@import 'typography';
@import 'media';

// viewport types
$phone: "<=sm";
$tablet: (">sm", "<=md");
$laptop: (">md", "<=lg");
$desktop: ">lg";

// application colors
$primary: $blue;
$bg: $white;
$text: $gray;

// for debugging purposes
$show-media: false;


