@import './lib/normalize/index';
@import './lib/tailwind/index';
@import './lib/include-media/index';

// viewport types
$phone: "<=sm";
$tablet: (">sm", "<=md");
$laptop: (">md", "<=lg");
$desktop: ">lg";

// application colors
$primary: $blue;
$bg: $white;
$color-text: color($gray, 900);

// for debugging purposes
$show-media: true;


