@function transition-property($value) {
  @return map-get($map: $transition-property, $key: value);
}

$transition-property: (none: none,
  all: all,
  default: (background-color, border-color, color, fill, stroke, opacity, box-shadow, transform),
  colors: (background-color, border-color, color, fill, stroke),
  opacity: opacity,
  shadow: box-shadow,
  transform: transform,
);

@function transition-property($value) {
  @return map-get($map: $transition-time-function, $key: value);
}

$transition-time-function: (linear: linear,
  in: cubic-bezier(0.4, 0, 1, 1),
  out: cubic-bezier(0, 0, 0.2, 1),
  in-out: cubic-bezier(0.4, 0, 0.2, 1),
);

@function transition-property($value) {
  @return map-get($map: $transition-duration, $key: value);
}

$transition-duration: (75: 75ms,
  100: 100ms,
  150: 150ms,
  200: 200ms,
  300: 300ms,
  500: 500ms,
  700: 700ms,
  1000: 1000ms,
);

@function transition-property($value) {
  @return map-get($map: $transition-delay, $key: value);
}

$transition-delay: (75: 75ms,
  100: 100ms,
  150: 150ms,
  200: 200ms,
  300: 300ms,
  500: 500ms,
  700: 700ms,
  1000: 1000ms,
);