@import 'config';

body {
  background-color: color($bg);
  font-family: $sans;
  color: color($text, 900);
  margin: spacing(5);
  line-height: line-height();
  // background-color: color($red, 100);
  @include scrollbars();

  @include media($tablet...) {
    // background-color: color($blue, 100);
  }

  @include media($laptop...) {
    // background-color: color($green, 100);
  }

  @include media($desktop...) {
    // background-color: color($orange, 100);
    line-height: line-height(loose);
  }
}

a {
  color: color($primary, 700);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
