@import 'config';

// Add custom CSS here
body {
  background-color: color($bg);
  font-family: font-family(sans);
  color: color($color-text);
  margin: spacing(4);
  line-height: line-height();
  width: width("1/2");
  @if $show-media {
    background-color: color($red, 100);
  }

  @include media($tablet...) {
    @if $show-media {
      background-color: color($blue, 100);
    }
  }

  @include media($laptop...) {
    @if $show-media {
      background-color: color($green, 100);
    }
  }

  @include media($desktop...) {
    @if $show-media {
      background-color: color($orange, 100);
    }
    line-height: line-height(loose);
  }
}

a {
  color: color($primary, 600);
  text-decoration: none;

  &:hover {
    color: color($primary, 700);
    text-decoration: underline;
  }

  &:visited {
    color: color($primary, 900);
  }
}
